/*reset 样式*/
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  /*display: block;*/
  border: 0 !important
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

li {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

q:after,
q:before {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle
}
input{
  -webkit-appearance:none;
}
legend {
  color: #000
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body,
html {
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none
}
/*顶部的样式*/
/*顶部导航*/
header{
  height:3.75rem;
}
.top{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-bottom:1px solid #f6f6f6;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
}
header h1 {
  width: 80%;
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}
header a {
  width: 10%;
  color: #333;
  font-size: 1.5rem;
}
header .top> a:first-child {
  text-align: left;
}
header .top> a:last-child {
  text-align: right;
}