/*create by zhxf 用于阅读活动页面的样式*/


/*阅读活动页面的样式*/

html,
body {
  height: 100%;
}

.paddingb100 {
  padding-bottom: 5rem;
}

.container {
  width: 100%;
  height: 100%;
}


/*banner部分的样式*/

.banner img {
  width: 100%;
}


/*列表部分的样式*/

.li-wrap>li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.67rem 1.5rem;
  text-align: left;
  color: #333333;
  font-size: 1.16rem;
  min-height: 3.33rem;
}

.li-wrap>li .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.li-wrap>li .icon-wrap {
  width: 3rem;
}

.li-wrap>li .icon {
  display: inline-block;
  width: 1.9rem;
  font-size: 1.5rem;
}

.li-wrap .right-icon {
  text-align: right;
}

.li-wrap .icon-ul {
  display: inline-block;
}

.li-wrap .icon-back.right {
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 1.2rem;
  height: 1.2rem;
  color: #999;
}

.li-wrap .margint2:before {
  margin-top: -0.3rem;
}

.li-wrap .icon-back.right:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*阅家人的样式*/

.icon-ul {
  margin-top: 1rem;
}

.icon-ul li {
  display: inline-block;
  vertical-align: text-top;
  color: #fff;
  width: 1.8rem;
  margin-right: .3rem;
  text-align: center;
  height: 2.4rem;
  font-size: 1rem;
  line-height: 1.2;
  padding-top: .2rem;
}

.icon-ul .a {
  background: url("../img/icon_1.png") no-repeat;
  background-size: 100%;
}

.icon-ul .b {
  background: url("../img/icon_2.png") no-repeat;
  background-size: 100%;
}


/*写读后感按钮*/

.write-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.write-btn input {
  width: 100%;
  color: #fff;
  background-color: #d4a258;
  height: 4.16rem;
  border: none;
  font-size: 1.33rem;
}


/*阅读成就页面的样式*/

.main {
  position: absolute;
  top: 3.75rem;
  bottom: 0;
  width: 100%;
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.tips {
  color: #f9f5ef;
}

.tips h2 {
  margin-top: 3.33rem;
  line-height: 1.2;
  font-size: 1.33rem;
}

.tips h2 .text {
  width: 5.16rem;
  margin: 0 .5rem;
}

.tips h2 img {
  display: inline-block;
  vertical-align: middle;
}

.tips h2 .border {
  width: 1.25rem;
}

.tips .info {
  margin-top: 1.875rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.5;
}

.achievement {
  margin-top: 3.16rem;
  height: 36.5rem;
}

.achievement .swiper-slide {
  width: 60%;
  height: 20.8rem;
  text-align: center;
}

.achievement .word {
  display: inline-block;
  width: 8.7rem;
  height: 9.04rem;
  margin-top: 5.4rem;
}

.achievement .a {
  background: url("../img/bg_2.png") no-repeat;
  background-size: 100%;
}

.achievement .a .statu-word:before {
  content: "已获得";
}

.achievement .a .code1 {
  background: url("../img/code_1.png") no-repeat;
  background-size: 100%;
}

.achievement .a .code2 {
  background: url("../img/code_3.png") no-repeat;
  background-size: 100%;
}

.achievement .a .code3 {
  background: url("../img/code_5.png") no-repeat;
  background-size: 100%;
}

.achievement .b {
  background: url("../img/bg_1.png") no-repeat;
  background-size: 100%;
}

.achievement .b .statu-word:before {
  content: "未获得";
}

.achievement .b .code1 {
  background: url("../img/code_2.png") no-repeat;
  background-size: 85%;
  background-position: center;
}

.achievement .b .code2 {
  background: url("../img/code_4.png") no-repeat;
  background-size: 85%;
  background-position: center;
}

.achievement .b .code3 {
  background: url("../img/code_6.png") no-repeat;
  background-size: 85%;
  background-position: center;
}

.achievement .swiper-pagination-custom {
  position: fixed;
  bottom: 3.5rem;
}

.achievement .swiper-pagination-custom .swiper-pagination-customs {
  display: inline-block;
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 2.5rem;
  cursor: pointer;
}

.achievement .swiper-pagination-custom .word {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2.7rem;
  height: 3rem;
  margin-top: 0;
}

.achievement .swiper-pagination-custom .a {
  border-radius: 10px;
  background: none;
  background-color: #f46a55;
  -webkit-box-shadow: 0 0 10px 0 rgba(177, 145, 98, 0.004);
  box-shadow: 0 0 10px 0 rgba(177, 145, 98, 0.004);
}

.achievement .swiper-pagination-custom .b {
  border-radius: 10px;
  background: none;
  background-color: #cccccc;
  -webkit-box-shadow: 0 0 10px 0 rgba(177, 145, 98, 0.004);
  box-shadow: 0 0 10px 0 rgba(177, 145, 98, 0.004);
}

.achievement .swiper-pagination-customs-active {
  border: 2px solid #fec88d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.achievement p {
  color: rgba(253, 249, 241, 0.8);
  font-size: 1.2rem;
  line-height: 1.7;
  margin-top: 1rem;
}


/*书目列表页的样式*/

header .tab-h1 {
  height: 100%;
}

header .tab-h1 a {
  display: inline-block;
  position: relative;
  color: #333;
  width: auto;
  margin: 0 1.2rem;
  height: 100%;
  line-height: 3.75rem;
}

header .tab-h1 .current {
  color: #d9b886;
}

header .tab-h1 .current .border {
  background-color: #d9b886;
}

header .tab-h1 .border {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
}

.bgfd {
  background-color: #fdf9f1;
}

.book-list {
  padding: 0 1.25rem;
}

.book-list li {
  position: relative;
  background-color: #fff;
  padding: 1.25rem 1.25rem 1.25rem 10rem;
  margin-top: 3.95rem;
  min-height: 9.9rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  -webkit-box-shadow: 0px 9px 14.22px 3.78px rgba(246, 226, 186, 0.29);
  box-shadow: 0px 9px 14.22px 3.78px rgba(246, 226, 186, 0.29);
}

.book-list .cover-img {
  position: absolute;
  top: -2.08rem;
  left: 1.25rem;
  width: 7.5rem;
  height: 10.4rem;
  -webkit-box-shadow: 0 0 10px 2px rgba(226, 226, 226, 0.8);
  box-shadow: 0 0 10px 2px rgba(226, 226, 226, 0.8);
}

.book-list h2 {
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-list p {
  font-size: 1.16rem;
  color: #999999;
  line-height: 1.2;
  margin-top: 1rem;
}

.book-list .btn-wrap {
  margin-top: 1rem;
  text-align: right;
}

.book-list .btn-wrap .button {
  display: inline-block;
  -webkit-box-shadow: 0 9px 14.22px 3.78px rgba(246, 226, 186, 0.29);
  box-shadow: 0 9px 14.22px 3.78px rgba(246, 226, 186, 0.29);
  height: 2rem;
  line-height: 2rem;
  min-width: 4.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.16rem;
  color: #fff;
  text-align: center;
  padding: 0 .5rem 0 .8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.book-list .btn-wrap .right {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.book-list .btn-wrap .test {
  background-color: #ff9933;
}

.book-list .btn-wrap .answer {
  background-color: #fb705b;
}


/* 弹窗 */

#bg {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  filter: Alpha(opacity=40);
  opacity: 0.4;
  background: #000;
  display: none;
  z-index: 99997;
}

#popbox,
.popIn {
  position: fixed;
  width: 80%;
  height: 24rem;
  left: 50%;
  top: 50%;
  margin: -15rem 0 0 -40%;
  display: none;
  background: #fdf9f1;
  z-index: 99998;
}

#popbox .close,
.popIn .close {
  display: block;
  width: 1.666667rem;
  height: 1.666667rem;
  position: absolute;
  z-index: 99999;
  top: 1.666667rem;
  right: 1.666667rem;
}

#popbox h1,
.popIn h1 {
  display: block;
  width: 60%;
  height: 6.666667rem;
  line-height: 6.666667rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #af8e5f;
  background-image: url('../img/pop_tit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#popbox .login_nav,
.popIn .login_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
}

#popbox .login_nav:after,
.popIn .login_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

#popbox .login_nav li {
  width: 100%;
  padding: 0 .833333rem;
  border: solid 1px #af8e5f;
  margin-bottom: 1.25rem;
  background: #fff;
  position: relative;
}

#popbox .login_nav li input.institution_option,
#popbox .login_nav li input.password,
#popbox .login_nav li input.text,
.popIn .login_nav li input {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  border: none;
  font-size: 9px;
  font-weight: lighter;
  background: transparent;
  color: #999;
  text-align: left;
}

.popIn .login_nav li {
  display: block;
  height: 5.5rem;
}

.popIn .login_nav li input {
  width: 60%;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.25rem;
  color: #999;
  display: inline-block;
  background-image: url('../img/index_bg_08.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: textfield;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.popIn .login_nav li label {
  font-size: 1.25rem;
  color: #333333;
  line-height: 3rem;
  margin-left: .333333rem;
}

.popIn .login_nav li .tip {
  display: block;
  margin: 0 auto;
  width: 70%;
  font-size: 1rem;
  color: #ab4131;
  text-align: left;
  opacity: 0;
}

#popbox input::-webkit-input-placeholder {
  color: #cbcbcb;
}

#popbox input:-moz-placeholder {
  color: #cbcbcb;
}

#popbox input::-moz-placeholder {
  color: #cbcbcb;
}

#popbox input:-ms-input-placeholder {
  color: #cbcbcb;
}

#popbox .submit,
.popIn .confirm {
  display: block;
  width: 60%;
  height: 3.333333rem;
  line-height: 3.333333rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: lighter;
  background: #af8e5f;
  color: #fff;
  border-radius: 3px;
}

#popbox .submit:hover,
.popIn .confirm:hover {
  background: #a5804d;
}

#popbox .forget {
  position: absolute;
  z-index: 2;
  right: 80px;
  bottom: 130px;
  font-size: 16px;
  color: #af8e5f;
}

#popbox .forget:hover {
  text-decoration: underline;
}

#popbox .login_nav li dl,
#popbox1 .login_nav li dl {
  top: 58px;
  left: -1px;
  z-index: 99999;
  position: absolute;
  display: none;
  width: 40%;
  border: solid 1px #d3b181;
  background: #fff;
  height: 12rem;
  overflow-y: auto;
}

#popbox1 .login_nav li dl.grade_selects {
  top: 9.5rem;
  left: 3.5rem;
  width: 60%;
}

#popbox1 .login_nav li dl.class_selects {
  top: 15rem;
  left: 3.4rem;
  width: 60%;
}

#popbox .login_nav li dl::-webkit-scrollbar,
#popbox1 .login_nav li dl::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

#popbox .login_nav li dl::-webkit-scrollbar-thumb,
#popbox1 .login_nav li dl::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a4a4a4;
}

#popbox .login_nav li dl dd,
#popbox1 .login_nav li dl dd {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

#popbox .login_nav li dl dd a,
#popbox1 .login_nav li dl dd a {
  display: block;
  width: 100%;
  height: 100%;
  color: #999;
}

#popbox .login_nav li dl dd a:hover,
#popbox1 .login_nav li dl dd a:hover {
  background: #f6f6f6;
}

#popbox .login_nav li .is-show {
  display: block;
  animation: fadeSchool .2s linear 0s 1;
}

@keyframes fadeSchool {
  0% {
    opacity: 0;
    top: 10rem;
  }
  100% {
    opacity: 1;
    top: 5rem;
  }
}

#popbox1 .login_nav li .grade_selects.is-show {
  display: block;
  animation: fadeGrade .2s linear 0s 1;
}

@keyframes fadeGrade {
  0% {
    opacity: 0;
    top: 10rem;
  }
  100% {
    opacity: 1;
    top: 9.5rem;
  }
}

#popbox1 .login_nav li .class_selects.is-show {
  display: block;
  animation: fadeClass .2s linear 0s 1;
}

@keyframes fadeClass {
  0% {
    opacity: 0;
    top: 16rem;
  }
  100% {
    opacity: 1;
    top: 15rem;
  }
}

.popIn.popInput2 {
  width: 80%;
  height: 20rem;
}

.popInput2 .info {
  font-size: 1.25rem;
  color: #af8e5f;
  line-height: 4rem;
  margin-top: 4rem;
}

.popInput2 .info img {
  display: inline;
  vertical-align: sub;
  margin: 0 40%;
  width: 20%;
}

.popIn.popInput3 {
  width: 80%;
  height: 20rem;
}

.popInput3 .info {
  font-size: 1.25rem;
  color: #af8e5f;
  margin-top: 3rem;
}

.popInput3 .info img {
  display: inline;
  width: 30%;
}