@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w3a9li');
  src:  url('fonts/icomoon.eot?w3a9li#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w3a9li') format('truetype'),
    url('fonts/icomoon.woff?w3a9li') format('woff'),
    url('fonts/icomoon.svg?w3a9li#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon2:before {
  content: "\e902";
  color: #ddd;
}
.icon-icon1:before {
  content: "\e903";
  color: #ddd;
}
.icon-back:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-icon3:before {
  content: "\e904";
  color: #ddd;
}
.icon-icon4:before {
  content: "\e905";
  color: #ddd;
}
